<header>
  <nav class="header-nav group">
    <div class="nav-logo">
      <a href="<%= root_url %>">
        <div class="logo"></div>
        <h1 class="logo-text">Table</h1>
      </a>
    </div>
  </nav>
</header>
<div id="content"></div>
