.city {
  float: left;
  width: calc(50% - 1.5px);
  text-align: center;
  padding: 70px 0;
  border: 1px solid #eee;
  border-top: 0;
  text-shadow: 3px black;
}

.city:nth-of-type(even) {
  border-left: 0;
}

.city h2 {
  font-size: 24px;
}

.city .count {
  font-size: 12px;
  color: grey;
}
