.restaurant-item {
  padding: 20px 20px 20px 0;
  margin-left: 20px;
  height: 80px;
  border-bottom: 1px solid #eee;
}
.restaurant-item-photo {
  float: left;
  border-radius: 7%;
  margin: 0 20px;
  cursor: pointer;
}

.restaurant-item-details {
  box-sizing: content-box;
  float: left;
  width: auto;
}

.restaurant-item-address {
  color: grey;
  font-size: 12px;
}

.restaurant-item-details h3 {
  font-size: 14px;
  margin: 10px 0;
  cursor: pointer;
}

.price {
  color: #ccc;
  float: right;
  font-size: 13px;
}

.price .selected {
  color: black;
}

.restaurant-list-container {
  padding: 20px 0;
}

.restaurant-count {
  font-size: 24px;
  padding: 0 20px;
}
