.city-index-welcome {
  background: white;
  padding: 20px 20px 20px 10px;
  margin-bottom: 20px;
}

.city-index-welcome h1 {
  font-size: 36px;
  font-weight: 400;
}

.city-index-welcome h2 {
  font-size: 20px;
}

.city-grid-container {
  background: white;
}

.city-grid-container > h2 {
  padding: 20px;
  font-size: 20px;
}


.city {
  display: block;
  box-sizing: border-box;
  float: left;
  width: 50%;
  text-align: center;
  padding: 10% 0;
  text-shadow: #262626 1px 0 10px;
  background: white;
  font-weight: 300;
}

.city h2 {
  font-size: 36px;
  color: white;
}

.city .count {
  font-size: 20px;
  color: white;
}

.NewYork {
  background-image: image-url("city_images/ny1.jpg");
  background-size: cover;
}

.SanFrancisco {
  background-image: image-url("city_images/sf1.jpg");
  background-size: cover;
}

.Seattle {
  background-image: image-url("city_images/st1.jpg");
  background-size: cover;
}

.Boston {
  background-image: image-url("city_images/ny3.jpg");
  background-size: cover;
}

.Chicago {
  background-image: image-url("city_images/ch1.jpg");
  background-size: cover;
}
