$primary-color: #da3743;
$form-hover: #d93c3c;

.filter-box {
  margin: auto;
  margin-top: 20px;
  padding: 22px 20px 0 20px;
  border-bottom: 1px solid #e3e3e3;
  background: white;
  border-radius: 2px;
}

.filter-box h2 {
  font-size: 1.5rem;
}

.search {
  position: relative;
  max-width: 100%;
  height: 300px;
  background-repeat: no-repeat;
  background-position: 0;
}

.search label {
  position: relative;
}

.search h2 {
  font-size: 30px;
  font-weight: 300;
  color: white;
  position: absolute;
  bottom: 75px;
  text-shadow: #262626 1px 0 10px;
}

.mobile-search-header {
  display: none;
}

.search-results {
  z-index: 50;
  color: black;
  font-weight: 300;
  position: absolute;
  left: 0;
  background: white;
  width: 100%;
}

.search-item {
  padding: 5px 5px 5px 10px;
  cursor: pointer;
}

.search-item:hover {
  color: white;
  background: $primary-color;
}

.reservation-filter-form {
  position: relative;
  padding: 25px 0;
  line-height: 20px;
}

.search .reservation-filter-form {
  width: calc(100% - 40px);
  position: absolute;
  bottom: 0;
}

.reservation-filter-form .selector {
  box-sizing: border-box;
  width: 25%;
  display: inline-block;
  margin: 0;
  line-height: 20px;
}

.selector {
  position: relative;
  color: inherit;
  background: white;
  padding: 12px;
  border: 1px solid rgba(0, 0, 0, 0.08);
}

.selector:hover {
  border: 1px solid $form-hover;
}

form div.selector:first-child {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.dropdown {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.search {
  max-width: 100%;
}

.search-filter .selector {
  width: 15%;
}

.search-filter .reservation-filter-date {
  width: 20%;
}

#searchbox {
  width: 35%;
  border-left: 1px solid white;
}

#searchbox:hover {
  border: 1px solid $form-hover;
}

form .dropdown:first-child {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.submit {
  border: 1px solid $primary-color;
  cursor: pointer;
  background: $primary-color;
  color: white;
  transition: background .25s ease-in-out;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  text-align: center;
}

.submit:hover {
  background:#b8222d;
}

.reservation-filter-date {
  display: inline-block;
  width: 25%;
  box-sizing: border-box;
  border-left: 1px solid white;
  border-right: 1px solid white;
  padding: 0;
}

.reservation-filter-date > .calendar-value {
  padding: 12px;
  position: relative;
  cursor: pointer;
  margin: 0;
  border-right: 0;
  font-weight: 400;
}

.calendar {
  position: absolute;
  top: 40px;
  left: 0;
  z-index: 40;
  font-weight: normal;
}

.triangle {
  z-index: 100;
  background: black;
  border: 20px;
  border-left-color: grey;
  border-right-color: black;
}

.hidden {
  display: none;
}

.fa {
  padding-right: 5px;
}

li.selected {
  background: rgb(255, 231, 231);
}

@media screen and (min-width: 670px) and (max-width: 900px) {
  .search .selector:last-child {
    width: 20%;
  }

  #searchbox {
    width: 30%;
  }
}

@media screen and (max-width: 669px) {
  .search h2 {
    position: relative;
    bottom: 0;
  }

  .search-filter .selector,
  .reservation-filter-form .selector {
    width: calc(100% / 3);
  }

  #searchbox {
    border-left: 1px solid rgba(0, 0, 0, 0.08);
  }

  #searchbox, .selector:last-child {
    width: 100%;
  }

  .selector {
    border-radius: 0;
  }

  .selector:last-child {
    border-radius: 0;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
  }

  form div.selector:first-child {
    border-radius: 0;
    border-top-left-radius: 3px;
  }

  form div.selector:nth-child(3) {
    border-radius: 0;
    border-top-right-radius: 3px;
  }

  div.selector {
    border-bottom: 1px solid white;
  }
}

@media (max-width: 450px) {
  .search-filter .selector,
  .reservation-filter-form .selector {
    width: 100%;
    border-left: 1px solid rgba(0, 0, 0, 0.08);
    border-right: 1px solid rgba(0, 0, 0, 0.08);
  }

  .search-filter .selector:hover,
  .reservation-filter-form .selector:hover {
    border: 1px solid $form-hover;
  }

  

  .search h2:first-child {
    display: none;
  }

  .mobile-search-header {
    display: block;
  }

  form div.selector:first-child {
    border-radius: 0;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
  }

  form div.selector:nth-child(3) {
    border-radius: 0;
  }
}

@media (max-width: 330px) {
  .nav-logo {
    padding-right: 5px !important;
  }
}
