.reservation-page-header {
  background: white;
  border-bottom: 1px solid #e3e3e3;
  border-radius: 2px;
  margin-bottom: 30px;
}

.reservation-page-header h1 {
  font-size: 36px;
  padding: 35px;
  font-weight: 400;
}

.reservation-page-details {
  background: white;
  padding: 24px;
  border-top: 1px solid #e3e3e3;
  border-bottom: 1px solid #d4d2d2;
  border-radius: 2px;
}

.grey {
  background: rgb(237, 237, 237);
}

.reservation-page-details li {
  float: left;
  padding-right: 25px;
}

.reservation-page-details .date {
  width: 350px;
}

.reservation-page-details .time {
  width: 125px;
}

.reservation-page-details h6 {
  font-size: 14px;
  text-transform: uppercase;
  color: #999;
}

.reservation-page-details h4 {
  padding-top: 3px;
  font-size: 24px;
}

.reservation-page-details a {
  color: #60B2D0;
}

.reservation-page-details a:hover {
  color: #4a9cba;
}

.reservation-details {
  padding: 25px 0;
  // border: 1px solid #ccc;
  width: 60%;
  color: black;
}

.reservation-details h3 {
  padding: 10px 2px;
  font-size: 18px;
}

.reservation-details input {
  box-sizing: border-box;
  width: calc(50% - 10px);
  background: white;
  padding: 12px;
  font-size: 12px;
  font-weight: bold;
  border: 1px solid rgba(0,0,0,.12);
}

.reservation-details input:nth-of-type(1) {
  margin-right: 10px;
}

.reservation-details input:nth-of-type(2) {
  margin-left: 10px;
}

.reservation-details textarea {
  margin: 10px 0;
  appearance: none;
  border: 1px solid rgba(0,0,0,.12);
  box-sizing: border-box;
  padding: 12px;
  font-size: 12px;
  font-weight: bold;
  width: 100%;
}

.reservation-details button {
  display: inline-block;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin-top: -4px;
  padding: 15px 25px;
  font-size: 14px;
  border: 0 !important;
  cursor: pointer;
  background: #da3743;
  color: rgb(241, 241, 241);
  // font-family: 'Open Sans';
  transition: background .25s ease-in-out;
  border-radius: 3px;
}

.reservation-details button:hover {
  background:#b8222d;
}

.reservation-page-details a.cancel {
  float: right;
}

.hidden {
  display: none;
}

.reservation-page-details img {
  width: 60px;
  height: 60px;
}

.button-to-home {
  padding-top: 50px;
  margin: auto;
}

.button-to-home a {
  display: inline-block;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0 auto;
  margin-top: -4px;
  padding: 15px 25px;
  font-size: 14px;
  border: 0 !important;
  cursor: pointer;
  background: #da3743;
  color: rgb(241, 241, 241);
  font-family: 'Open Sans';
  transition: background .25s ease-in-out;
  border-radius: 3px;
}

.button-to-user {
  display: inline-block;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0 auto;
  margin-top: 5px;
  padding: 15px 25px;
  font-size: 14px;
  border: 0 !important;
  cursor: pointer;
  background: #da3743;
  color: rgb(241, 241, 241);
  font-family: 'Open Sans';
  transition: background .25s ease-in-out;
  border-radius: 3px;
}

.button-to-home a:hover, .button-to-user:hover {
  background:#b8222d;
}

@media (max-width: 765px) {
  .reservation-details button, .button-to-home, .button-to-user {
    margin-left: 20px;
  }

  .reservation-page-details li {
    float: none !important;
    padding: 5px 0;
  }

  .reservation-page-details .cancel {
    float: none !important;
  }
}
