@media (max-width: 765px) {
  .user-show-header h1 {
    width: auto !important;
  }
  .sidebar ul {
    width: 100vw !important;
    box-sizing: border-box;
  }

  .sidebar li {
    display: inline-block;
    padding: 5px 10px !important;
    border-top: 1px solid #e3e3e3;
  }

  .reservation-list {
    float: none !important;
    width: 100vw !important;
    margin-top: 100px !important;
    padding-left: 20px !important;
  }

  .reservation-list h2 {
    width: auto !important;
  }
}

.user-show-header {
  background: white;
  border-bottom: 1px solid #e3e3e3;
  border-radius: 2px;
  margin-bottom: 30px;
}

.user-show-header h1 {
  width: 300px;
  display: inline-block;
  font-size: 36px;
  padding: 35px;
  padding-left: 0;
  font-weight: 400;
}

.user-show-header img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  float: left;
  margin: 30px;
}

.sidebar ul {
  font-size: 18px;
  cursor: pointer;
  padding: 20px;
}

.sidebar li {
  border-bottom: 1px solid #e3e3e3;
  padding: 5px 0;
}

.sidebar li:first-of-type {
  border-top: 1px solid #e3e3e3;
}

.sidebar li:hover {
  color: #b8222d;
}

.reservation-list {
  margin-top: -35px;
  padding-left: 20px;
  width: calc(100% - 220px);
  float: right;
  font-size: 75% !important;
  background: white;
}
.reservation-list ul {
  border-bottom: 0;
  padding: 10px;
}

.reservation-list .date {
  width: 275px;
}

.reservation-list .time {
  width: 125px;
}

.reservation-list h1 {
  font-size: 30px;
  padding: 15px;
}

.reservation-list h6 {
  font-size: 12px;
  text-transform: uppercase;
  color: #999;
  padding-top: 10px;
}

.reservation-list h4 {
  padding-top: 3px;
  font-size: 18px;
}

.reservation-list .cancel {
  float: right;
}

.cancel button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 10px;
  font-size: 13px;
  border: 0 !important;
  cursor: pointer;
  background: #da3743;
  color: white;
  transition: background .25s ease-in-out;
  border-radius: 5px;
  margin-top: 15px;
}

.cancel button:hover {
  background:#b8222d;
}
