<!DOCTYPE html>
<html>
<head>
  <title>Table</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  <%= csrf_meta_tags %>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBMbKToOHakGaGA35p1_9faXOV8RKfEugw"></script>
</head>
<body>

<%= yield %>

</body>
</html>
